name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        working-directory: secondChance-backend
        run: npm install

      - name: Run lint (if present)
        working-directory: secondChance-backend
        run: npm run lint --if-present
